@model ContactVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--page-title area-->
<section class="page-title-area">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <h2 class="page-title">Contact Us</h2>
                    <ul class="page-list">
                        <li><a href="/Home/Index">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page-title area end
<!-- contact area Start -->
<div class="contact-area pd-top-150 pd-bottom-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form class="login-area-inner pr-lg-4" method="post" action="/Contact/SendContact">
                    <h2>Bizimlə əlaqəyə keçin</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                    <label class="single-input-inner no-checkbox">
                        <span>Ad Soyad</span>
                        <input type="text" placeholder="Ad Soyad..." asp-for="Name" required>
                    </label>
                    <label class="single-input-inner no-checkbox">
                        <span>Email</span>
                        <input type="email" placeholder="Email..." asp-for="Email" required>
                    </label>
                    <label class="single-input-inner no-checkbox">
                        <span>Sənin Mesajın</span>
                        <textarea placeholder="Sənin mesajın..." asp-for="Message" required></textarea>
                    </label>
                    <button class="btn btn-red mt-3" type="submit">Mesajı Göndər</button>
                    <div class="text-center">
                        <p>@TempData["Status"]</p>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="main-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.3280951562897!2d90.36650911429808!3d23.806929392532844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0d6f6b8c2ff%3A0x3b138861ee9c8c30!2sMirpur%2010%20Roundabout%2C%20Dhaka%201216!5e0!3m2!1sen!2sbd!4v1596940958087!5m2!1sen!2sbd"></iframe>
                </div>
                <div class="address-inner">
                    <h4>Adresimiz</h4>
                    <p>Her hansi bir yer <br>
                    Telefon : +994 99 727 00 72 <br>
                    Email: bilairtravel@mail.ru</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact area End -->

