    

<!-- banner start -->
    <div class="banner-area">
        <div class="container">
            <div class="banner-area-inner">
                <div class="row">
                    <div class="banner-thumb order-md-last mb-4 mb-md-0 col-md-5">
                        <img src="~/MainPageTemplate/assets/img/other/undraw_aircraft_re_m05i_red.svg" alt="img">
                    </div>
                    <div class="col-md-7 order-md-0 align-self-center">
                        <div class="banner-inner">
                            <h2>BILL AIR - TRAVEL AGENCY @DateTime.Now.Year</h2>
                            <p>Azərbaycanın ən yaxşı rəsmi bilet satış şirkəti</p>
                            <div class="btn-wrap">
                                <a class="btn btn-red" href="/Ticket/Tickets"><img src="~/MainPageTemplate/assets/img/icon/1.png" alt="img">Get Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- About area Start -->
    <div class="about-area pd-top-150" style="margin-bottom:100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="thumb">
                        <img src="~/MainPageTemplate/assets/img/about/about_img.jpg" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-4 align-self-center">
                    <div class="about-inner">
                        <div class="section-title">
                            <h2>About The Event</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <a class="btn btn-red mr-4" href="/About/Index">Learn More</a>
                        <a href="https://www.youtube.com/watch?v=WwvNiN2_Jlk" class="video-btn video-play-btn mfp-iframe" tabindex="0"><i class="fa fa-play"></i> watch video</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About area end -->
   
   <!-- complimentary area Start -->
   <div class="complimentary-area bg-red">
       <div class="container">
           <div class="complimentary-area-inner">
               <div class="row custom-gutters-20">
                   <div class="col-lg-3 col-sm-6">
                       <div class="thumb">
                           <img src="~/MainPageTemplate/assets/img/other/travel_3.jpg" alt="img" style="height:372px">
                       </div>
                   </div>
                   <div class="col-lg-3 col-sm-6">
                       <div class="thumb">
                           <img src="~/MainPageTemplate/assets/img/other/travel_2.jpg" alt="img">
                       </div>
                       <div class="thumb">
                           <img src="~/MainPageTemplate/assets/img/other/travel_1.jpg" alt="img">
                       </div>
                   </div>
                   <div class="col-lg-6 align-self-center">
                       <div class="section-title style-white pl-xl-5">
                           <h2>Bizim ekskluziv təkliflərimiz</h2>
                           <ul class="evt-list style-white">
                               <li>ABŞ (United States of America)</li>
                               <li>Türkiyə</li>
                               <li>Norveç</li>
                               <li>Gürcüstan</li>
                           </ul>
                           <a class="btn btn-white" href="/Ticket/Tickets"><img src="~/MainPageTemplate/assets/img/icon/2.png" alt="img">Get Ticket</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>  
   <!-- complimentary area End -->

   <!-- Sponsor area Start -->
   <div class="sponsor-area pd-top-110" style="margin-bottom:100px">
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-xl-7 col-lg-8">
                   <div class="section-title text-center">
                       <h2>Sponsorlar</h2>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt consectetur ut et dolore magna aliqua.</p>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="sponsor-slider owl-carousel owl-theme">
                   <div class="item">
                       <div class="thumb">
                           <img src="~/MainPageTemplate/assets/img/sponsor/1.png" alt="img">
                       </div>
                   </div>
                   <div class="item">
                       <div class="thumb">
                           <img src="~/MainPageTemplate/assets/img/sponsor/2.png" alt="img">
                       </div>
                   </div>
                   <div class="item">
                       <div class="thumb">
                           <img src="~/MainPageTemplate/assets/img/sponsor/3.png" alt="img">
                       </div>
                   </div>
                   <div class="item">
                       <div class="thumb">
                           <img src="~/MainPageTemplate/assets/img/sponsor/4.png" alt="img">
                       </div>
                   </div>
                   <div class="item">
                       <div class="thumb">
                           <img src="~/MainPageTemplate/assets/img/sponsor/5.png" alt="img">
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- Sponsor area End -->