
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="vh-100 w-100 d-flex align-items-center justify-content-center">
    <h1>Xəta baş verdi :(</h1>
</div>

