@model BlogsVMA

@{
    ViewData["Title"] = "BlogEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Common/jquery/jquery.min.js"></script>
<div class="container p-4">
    <div class="bg-light white-card">
        <div>
            <div class="text-center p-3">
                <h1>#@Model.Id Bloqu Düzənlə</h1>
            </div>
            <div class="pt-4">
                <div method="post">
                    <input type="hidden" asp-for="Id" id="blogId" required />
                    <input type="hidden" asp-for="Date" required />
                    <input type="hidden" asp-for="Status" required />
                    <input type="hidden" asp-for="Views" required />
                    <div class="profile-img-input">
                        <input type="file" class="form-control" id="pp-img" asp-for="Image">
                    </div>
                    <div class="text-center mt-5">
                        <div class="profile d-flex justify-content-center align-items-center m-auto">
                            <img class="profile-img" id="img-viewer" src="data:image/jpg;base64,@Convert.ToBase64String(Model.Image)" />
                            <label for="pp-img" class="camera-icon"><i class='bx bxs-camera'></i></label>
                        </div>
                        <span class="text-danger font-weight-bold ml-2" asp-validation-for="Image"></span>
                    </div>
                    <div class="p-3">
                        <label for="tb-title">Bloq başlığı</label>
                        <span class="text-danger font-weight-bold ml-2" asp-validation-for="Title"></span>
                        <input id="tb-title" class="form-control" type="text" asp-for="Title" placeholder="Bloq başlığı..." required />
                    </div>
                    <div class="p-3">
                        <label for="tb-content">Bloqun məzmunu</label>
                        <span class="text-danger font-weight-bold ml-2" asp-validation-for="Content"></span>
                        <textarea id="tb-content" class="form-control" rows="20" asp-for="Content" placeholder="Bloqun məzmunu..." required></textarea>
                    </div>
                    <div class="text-center p-3">
                        <button type="button" onclick="window.location.href='/AdminPanel/Blog/Index'" class="custom-admin-cancel">Ləğv et</button>
                        <button type="button" id="btn-save" class="custom-admin-button">Yarat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#pp-img").change(function(event) {
        let files = event.target.files;
        $("#img-viewer").attr("src", window.URL.createObjectURL(files[0]));
    });

    $("#btn-save").click(function() {
        let files = $("#pp-img").prop("files");
        let formData = new FormData();
        for (let i = 0; i < files.length; i++) {
            formData.append("file", files[i]);
        }
        let oBlog = {
            id: $("#blogId").val(),
            title: $("#tb-title").val(),
            content: $("#tb-content").val(),
        };
        formData.append("Blog", JSON.stringify(oBlog));
        console.log(formData);
        $.ajax({
            type: "POST",
            url: "/AdminPanel/Blog/BlogEdit",
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                window.location.href = '/AdminPanel/Blog/Index';
            },
            error: function(data) {
                alert('Error:', data);
            }
        });
    });
</script>